<footer class="cart-footer">

  <div class="trust-column">
    <div class="columns first-column">
      <div class="column-image">
        <img src="{{cdn 'assets/img/cart/questions.png'}}" alt="questions">
      </div>
      <div class="column-text">
        <h3>HAVE QUESTIONS</h3>
        <p>We're here to help</p>
        <h5>GIVE US A CALL</h5>
        <p>866.755.5625</p>
      </div>
      <div class="clear"></div>
    </div>

    <div class="columns second-column">
      <div class="column-image">
        <img src="{{cdn 'assets/img/cart/shipping.png'}}" alt="shipping">
      </div> 
      <div class="column-text">
        <h3>SHIPPING POLICY</h3>
        <p>Orders ship the same day if submitted before 11AM EST, Monday-Friday</p>
        <a href="/shipping/"><i class="icon ion-ios-arrow-forward"></i> LEARN MORE</a>
      </div> 
      <div class="clear"></div>
    </div>

    <div class="columns last-column">
      <div class="column-image">
        <img src="{{cdn 'assets/img/cart/return.png'}}" alt="returns">
      </div>
      <div class="column-text">
        <h3>RETURN POLICY</h3>
        <p>We stand behind our quality, We will exchange defective products free of charge.</p>
        <a href="/returns/"><i class="icon ion-ios-arrow-forward"></i> LEARN MORE</a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>    
  </div>
  <div class="true-footer">
    <div class="content-left">
      <p>&copy; 2018 Door Locks Direct. All Rights Reserved. <span>Site Design by <a href="https://eystudios.com" target="_blank">EYStudios</a>. </span></p>
    </div>
    <div class="content-middle">
      <img src="{{cdn 'assets/img/cart/credit-cards.png'}}" alt="">
    </div>
    <div class="content-right">
      <ul>
        <li> <a href="/terms/">Terms</a> </li>
        <li> <a href="/privacypolicy/">Privacy</a> </li>
        <li> <a href="/sitemap.php">Site Map</a> </li>
        <li> <a href="https://facebook.com" target="_blank"><img src="{{cdn 'assets/img/cart/fb.png'}}" alt=""></a> </li>
        <li> <a href="https://twitter.com" target="_blank"><img src="{{cdn 'assets/img/cart/twitter.png'}}" alt=""></a> </li>
        <li> <a href="https://instagram.com" target="_blank"><img src="{{cdn 'assets/img/cart/insta.png'}}" alt=""></a> </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</footer>