{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">

<div class="wrapper">
    {{#if settings.show_newsletter_box}}
        <div class="newsletter-container" data-section-type="newsletterSubscription">

            {{> components/common/subscription-form}}
        </div>
    {{/if}}
    
    <div class="footer-columns">
        <div class="footer-links">
            <div class="footer-link-col">
                <h4 class="clickable">Company</h4>
                <ul class="links">
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/f">Customer Service</a></li>
                    <li><a href="/">Resources</a></li>
                    <li><a href="/">Catalog</a></li>
                    <li><a href="/">Blog</a></li>
                </ul>
            </div>
            <div class="footer-link-col">
                <h4 class="clickable">Information</h4>
                <ul class="links">
                    <li><a href="/">General Information</a></li>
                    <li><a href="/">Shipping Policies</a></li>
                    <li><a href="/">Shipping Rates</a></li>
                    <li><a href="/">Shipping Backorders</a></li>
                    <li><a href="/">Return Policies</a></li>
                </ul>
            </div>
            <div class="footer-link-col">
                <h4 >Contact Us</h4>
                <ul class="links" style="display:block">
                    <li><a href="tel:866.755.5625">866.755.5625</a></li>
                    <li><a href="/" onclick="return false" style="pointer-events: none;cursor: default;">Sevice Hours 8a.m. - 6p.m. (CT)</a></li>
                    <li><a href="mailto:support@doorlocksdirect.com">support@doorlocksdirect.com</a></li>
                   
                </ul>
            </div>
            
        </div>
    </div>
    
</div>
    <div class="container">
        
    </div>
    <div class="copyright">
                {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <!--<div class="footer-copyright">
                <p class="powered-by">Powered by <a href="https://www.bigcommerce.com/" rel="nofollow">BigCommerce</a></p>
            </div>-->
        {{/if}}
        {{#if theme_settings.show_copyright_footer}} 
            <div class="footer-copyright">
                <!--<div class="footer-copyright-left">-->
                    <p class="powered-by cp"> {{moment format="YYYY"}} &copy; Door Locks Direct.</p>
                    <p class="powered-by"> All Rights Reserved. Site design by <a href="https://eystudios.com">EYStudios</a><!--{{settings.store_name}}--> </p>
                <!--</div>-->
                <div class="footer-copyright-right">
                    <ul>
                    <li><a href="/terms/">Terms</a></li>
                    <li><a href="/privacypolicy/">Privacy</a></li>
                    <li><a href="/sitemap.php">Site Map</a></li>
                    <li><a href="www.facebook.com" target="_blank"><img src="{{cdn 'assets/img/fb-icon.png'}}" alt=""></a></li>
                    <li><a href="www.twitter.common" target="_blank"><img src="{{cdn 'assets/img/twitter-icon.png'}}" alt=""></a></li>
                    <li><a href="www.instagram.com" target="_blank"><img src="{{cdn 'assets/img/instagram-icon.png'}}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        {{/if}}
    </div>

</footer>
