<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="search_query"><i class="icon ion-md-search"></i></label>
                <input class="form-input" data-search-quick name="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="Search" autocomplete="off">
                <input class="form-btn" type="submit" value="">
            </div>
        </fieldset>
    </form>
    <!--<section class="quickSearchResults" data-bind="html: results"></section>-->
    <!--{{lang 'search.quick_search.input_placeholder'}}-->
</div>
