---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
{{#if pagination.category.previous}}
<link rel="prev" href="{{pagination.category.previous}}">
{{/if}}
{{#if pagination.category.next}}
<link rel="next" href="{{pagination.category.next}}">
{{/if}}
{{/partial}}
{{#partial "page"}}
<!--<div class="container">-->
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <!--{{#if category.image}}
    <img src="{{getImage category.image 'zoom_size'}}">
    {{/if}}-->
    {{#if category.subcategories}}
    <div class="categorypage page">
        <div class="container">
            <h1 class="page-heading section-title subcats">{{category.name}}</h1>
        </div>
    </div>        
    {{else}}
    <div class="sub-cat-top">
    
    <h1 class="page-heading section-title section-title-alt">{{category.name}} </h1>
    </div>  
    {{/if}}
    
    {{{snippet 'categories'}}}
<!--</div>-->
<div class="categorypage page">
    <div class="container">
        {{#if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container" style="display:none;">
            {{> components/category/sidebar}}
        </aside>
        {{else}}
        
        {{/if}}
        </main>
        {{#if category.subcategories}}
        <main class="page-content cat" id="product-listing-container">
        {{> components/category/subcategory-listing}}
        
        {{else}}
        <main class="page-content" id="product-listing-container">
         {{> components/category/product-listing}}
        {{/if}}

        <div class="category-description">
            {{{category.description}}}
        </div>
        </main>
    </div>
</div>
{{/partial}}
{{> layout/section-base}}
